# Write a function to calculate gini index for the given dataset

x: list of counts
<br>
if we have 30 elements from one class, 40 elements from the second and 50 elements from third then x == [30,40,50]

In [2]:
def gini(x:list):
    a = 0
    for i in range(len(x)):
        a+= (x[i]/sum(x))**2
    return (1-a) # return gini index

In [3]:
gini([30,40,50])

0.6527777777777778

# Write a function to calculate gini index for the given split

x: list of counts for the left dataset 
<br>
y: list of counts for the right dataset

In [6]:
def split_gini(x:list, y:list):
    b = 0
    c = 0
    for i in range(len(x)):
        b+= (x[i]/sum(x))**2
        c+= (y[i]/sum(y))**2
    print(b,c)
    return ((sum(x)*(1-b)+sum(y)*(1-c))/(sum(x)+sum(y)))

In [7]:
split_gini([10,10,30],[20,30,20])

0.44 0.346938775510204

0.6142857142857143

# Appply Decision Tree Classifier on the 'classification.csv' dataset from the previous homework.

In [8]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [13]:
data =pd.read_csv('classification.csv')
data.head()

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default
0,41,college degree,17,12,176,9.3,11.359392,5.008608,1
1,27,no high school,10,6,31,17.3,1.362202,4.000798,0
2,40,no high school,15,14,55,5.5,0.856075,2.168925,0
3,41,no high school,15,14,120,2.9,2.658720,0.821280,0
4,24,high school,2,0,28,17.3,1.787436,3.056564,1

In [86]:
clf = DecisionTreeClassifier(max_depth = 5)

In [87]:
clf

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [88]:
data = pd.get_dummies(data)
data.head()

,age,employ,address,income,debtinc,creddebt,othdebt,default,ed_college degree,ed_high school,ed_no high school,ed_postgraduate,ed_undergraduate
0,41,17,12,176,9.3,11.359392,5.008608,1,1,0,0,0,0
1,27,10,6,31,17.3,1.362202,4.000798,0,0,0,1,0,0
2,40,15,14,55,5.5,0.856075,2.168925,0,0,0,1,0,0
3,41,15,14,120,2.9,2.658720,0.821280,0,0,0,1,0,0
4,24,2,0,28,17.3,1.787436,3.056564,1,0,1,0,0,0

In [89]:
X_train, X_test, y_train, y_test = train_test_split(data[data.columns.difference(['default'])], data['default'])

In [90]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [91]:
clf.score(X_test, y_test)

0.7942857142857143

In [92]:
clf.score(X_train, y_train)

0.8438095238095238

# Implement Random Forest

In [ ]:
class RandomForest:
    def __init__(...):
        ...
        
    def fit(...):
        ...
        
    def predict(...):
        ...
    
    def score(...):
        ...